asgiref==3.4.1
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Django==4.0.1
django-ckeditor==6.2.0
django-ckeditor-5==0.0.14
django-js-asset==1.2.2
Flask==2.0.2
flask-ngrok==0.0.25
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow==9.0.0
psycopg2==2.9.3
pycodestyle==2.8.0
PyMySQL==1.0.2
python-dateutil==1.5
python-decouple==3.5
requests==2.27.1
SQLAlchemy==1.4.31
sqlparse==0.4.2
toml==0.10.2
tzdata==2021.5
Unipath==1.1
urllib3==1.26.8
Werkzeug==2.0.2